<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8209583a32.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/<%=userPreference%>-mode.css" id="theme">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="javascript/index.js"></script>
    <title>Countries</title>
</head>
<header>
    <h2>Where in the world?</h2>
    <p class="countries-theme"><span><i class="fas fa-moon theme-icon"></i></span>Dark Mode</p>
</header>
<body>