<%- include("partials/header"); -%>

<button class="back-to-home"><i class="fas fa-arrow-left"></i><span>Back</span></button>
<main class="error">
    <div class="not-found">
        <h1>404</h1>
        <p>Aww snap!😕 we can't seem to find what you're looking for.💔</p>
    </div>
</main>

<%- include("partials/footer"); -%>